<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Confetti Cuisine</title>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/confetti_cuisine.css">
	<script src="/js/confettiCuisine.js"></script>

</head>

<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">Confetti Cuisine</h1>
		</div>
		<div class="col-sm nav-align">
			<a href="/">
				<span class="button">Home</span>
			</a>
			<a href="/courses">
				<span class="button">Cooking Courses</span>
			</a>
			<a href="/subscribers">
				<span class="button">Subscribers</span>
			</a>
			<a href="/users">
				<span class="button">Users</span>
			</a>
			<%- include('courses/_coursesModal') %>
		</div>
	</div>

	<div class="login">
		<% if (loggedIn) { %>
			<p>Logged in as <a href="<%= `/users/${currentUser._id}`%> ">
					<%= currentUser.fullName %>
				</a></p>
			<a href="/users/logout">Logout</a>
			<% } else { %>

				<a href="/users/login">Login</a>

				<% } %>
	</div>


	<div class="flashes">
		<% if(flashMessages) { %>
			<% if(flashMessages.success) { %>
				<div class="flash success">
					<%= flashMessages.success %>
				</div>
				<% } else if(flashMessages.error) { %>

					<div class="flash error">
						<%= flashMessages.error %>
					</div>
					<% } } %>

	</div>

	<div class="container">
		<%- body %>
	</div>

	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> -->


</body>


</html>